@use "../../styles/_mixins";
@use "../../styles/_variables";

.tool {
    text-align: center;
    @include mixins.text-style(variables.$color-content, 1.125rem, 400);

    @media (max-width: variables.$breakpoint-small) {
        transform: scale(75%);
    }

    &--mern {
        transform: scale(110%);

        @media (max-width: variables.$breakpoint-small) {
            transform: scale(80%);
        }
    }

    &--column {
        transform: scale(90%);

        @media (max-width: variables.$breakpoint-small) {
            transform: scale(75%);
        }
    }

    &__logos {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        @media (max-width: variables.$breakpoint-small) {
            gap: 15px;
            margin-bottom: 15px;
        }
    }

    &__logo {
        fill: currentColor;
        height: 54px;
    }
}
