@use "../../styles/mixins";
@use "../../styles/variables";

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 15px 10px 15px;
    @include mixins.list-style;

    @media (max-width: variables.$breakpoint-medium) {
        margin: 5px 10px 7.5px 10px;
    }

    &--about {
        margin-left: 20px;

        @media (max-width: variables.$breakpoint-medium) {
            margin-left: 15px;
        }
    }

    &__tag {
        background-color: variables.$color-background;
        border-radius: 5px;
        padding: 5px 10px;
        @include mixins.text-style(variables.$color-content, 1rem, 400);

        @media (max-width: variables.$breakpoint-medium) {
            padding: 5px 7.5px;
        }
    }
}
