@use "../../styles/animations";
@use "../../styles/mixins";
@use "../../styles/variables";

.error {
    text-align: center;
    overflow: hidden;

    &__title {
        animation: slideToRight 0.4s ease-out;
        @include mixins.text-style(variables.$color-content, 18rem, 500);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 6rem;
            padding: 16px 0;
        }
    }

    &__text {
        padding: 93px 0;
        animation: slideToRight 0.6s ease-out;
        @include mixins.text-style(variables.$color-content, 2.25rem, 400);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1.125rem;
            padding: 56px 0;
        }
    }
}
