@use "./variables";

@mixin card-style($padding) {
    text-decoration: none;
    border-radius: 10px;
    padding: $padding;
    transition: all 0.3s;
}

@mixin card-transition {
    transform: translateY(-10px);
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));

    @media (max-width: variables.$breakpoint-small) {
        transform: translateY(-5px);
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
    }
}

@mixin block-size($width, $height, $radius) {
    width: $width;
    height: $height;
    border-radius: $radius;
}

@mixin button-style($background, $radius, $padding) {
    background-color: $background;
    border: 0;
    border-radius: $radius;
    padding: $padding;
    cursor: pointer;
}

@mixin column-flexbox($justify) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
}

@mixin grid($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: 40px;

    @media (max-width: variables.$breakpoint-medium) {
        gap: 30px;
    }
}

@mixin list-style {
    list-style: none;
    padding: 0;
}

@mixin text-style($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}
