@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    margin: 0;
}

body {
    max-width: 1400px;
    margin: auto;
    padding: 0 100px;

    @media (max-width: variables.$breakpoint-small) {
        max-width: 400px;
        padding: 0 20px;
    }
}
