@use "../../styles/animations";
@use "../../styles/mixins";
@use "../../styles/variables";

.contact {
    overflow: hidden;
    @include mixins.column-flexbox(space-between);

    &__title {
        animation: slideToRight 0.4s ease;
        @include mixins.text-style(variables.$color-content, 2.25rem, 500);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1.75rem;
        }
    }
}
