@use "../../styles/_mixins";
@use "../../styles/_variables";

.home {
    @include mixins.grid(auto, 1fr 1.4fr);

    &__top {
        @include mixins.grid(3fr 1fr, auto);
    }

    &__introduction {
        align-self: center;
        margin-right: 20px;
    }

    &__title {
        @include mixins.text-style(variables.$color-secondary, 2.25rem, 500);
    }

    &__text {
        text-align: justify;
        margin-top: 30px;
        @include mixins.text-style(variables.$color-secondary, 1.125rem, 400);
    }

    &__bottom {
        @include mixins.grid(1fr 3.6fr, auto);
    }

    &__skill {
        text-decoration: none;
    }
}
