@use "../../styles/_mixins";
@use "../../styles/_variables";

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;

    &__title {
        @include mixins.text-style(variables.$color-secondary, 2.25rem, 500);
    }

    &__introduction {
        text-align: justify;
        margin: 30px 20px 0 0;
        @include mixins.text-style(variables.$color-secondary, 1.125rem, 400);
    }
}
