@use "../../styles/animations";
@use "../../styles/mixins";
@use "../../styles/variables";

.home {
    @include mixins.grid(1.5fr 1fr 1fr 1.9fr, 1fr 1.2fr);

    @media (max-width: variables.$breakpoint-medium) {
        @include mixins.grid(1.7fr 1fr 1fr 2.1fr, auto);
    }

    @media (max-width: variables.$breakpoint-small) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__introduction {
        grid-column: span 3;
        align-self: center;
        margin-right: 20px;
        overflow: hidden;

        @media (max-width: variables.$breakpoint-medium) {
            margin-right: 0;
        }

        @media (max-width: variables.$breakpoint-small) {
            grid-column: span 2;
        }
    }

    &__title {
        animation: slideToRight 0.4s ease-out;
        @include mixins.text-style(variables.$color-content, 2.25rem, 500);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1.75rem;
        }
    }

    &__text {
        text-align: justify;
        margin-top: 30px;
        animation: slideToRight 0.6s ease-out;
        @include mixins.text-style(variables.$color-content, 1.125rem, 400);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1rem;
            margin-top: 15px;
        }
    }

    &__skill {
        grid-column: span 3;
        @include mixins.card-style(0);

        @media (max-width: variables.$breakpoint-small) {
            grid-column: span 2;
        }

        &:hover {
            @include mixins.card-transition;
        }
    }
}
