@use "../../styles/_mixins";
@use "../../styles/variables";

.links {
    background-color: variables.$color-primary;
    width: 100%;
    border-radius: 0 0 10px 10px;
    @include mixins.list-style;

    &__link {
        display: inline-block;
        text-decoration: none;
        padding: 15px 20px;
        @include mixins.text-style(#3c8e6d, 1rem, 400);

        &:hover {
            text-decoration: underline;
        }
    }
}
