@use "../../styles/_mixins";
@use "../../styles/variables";

.links {
    background-color: variables.$color-background;
    width: 100%;
    border-radius: 0 0 10px 10px;
    @include mixins.list-style;

    &__link {
        display: inline-block;
        text-decoration: none;
        margin: 10px 0 16px 20px;
        transition: all 0.3s;
        @include mixins.text-style(variables.$color-content, 1rem, 400);

        @media (max-width: variables.$breakpoint-medium) {
            margin: 10px 0 14px 15px;
        }

        &:hover {
            color: variables.$color-primary;
            margin-left: 30px;

            @media (max-width: variables.$breakpoint-medium) {
                margin-left: 25px;
            }
        }
    }

    &__icon {
        color: variables.$color-primary;
        margin-right: 30px;

        @media (max-width: variables.$breakpoint-medium) {
            margin-right: 25px;
        }
    }
}
