@use "../../styles/_mixins";
@use "../../styles/_variables";

.about {
    background-color: transparent;
    max-width: 400px;
    height: 594px;
    perspective: 1000px;

    &__inner {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        @include mixins.block-size(100%, 100%, 10px);

        &--flipped {
            transform: rotateY(180deg);
        }
    }

    &__front,
    &__back {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        backface-visibility: hidden;
        @include mixins.block-size(100%, 100%, 10px);
    }

    &__front {
        background: linear-gradient(#3c8e6d, #214e3c);
    }

    &__back {
        background: linear-gradient(#3c8e6d, #214e3c);
        transform: rotateY(180deg);
    }

    &__button {
        @include mixins.button-style(
            variables.$color-primary,
            (10px 0),
            (10px 20px)
        );
        @include mixins.text-style(#3c8e6d, 1.25rem, 400);

        &:hover {
            text-decoration: underline;
        }
    }

    &__photo {
        padding: 20px;
    }

    &__title {
        padding-left: 20px;
        @include mixins.text-style(variables.$color-primary, 2.25rem, 400);
    }

    &__list {
        background-color: variables.$color-primary;
        width: 100%;
        border-radius: 0 0 10px 10px;
        @include mixins.list-style;
    }

    &__link {
        display: block;
        text-decoration: none;
        padding: 15px 20px;
        @include mixins.text-style(#3c8e6d, 1rem, 400);

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        padding: 20px;
        @include mixins.text-style(variables.$color-primary, 1rem, 400);
    }
}
