@use "../../styles/_animations";
@use "../../styles/_mixins";
@use "../../styles/_variables";

.about {
    background-color: transparent;
    height: 594px;
    perspective: 1000px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));

    @media (max-width: variables.$breakpoint-small) {
        height: 547px;
    }

    &__inner {
        position: relative;
        animation: rotateIn 0.4s ease-in;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        @include mixins.block-size(100%, 100%, 10px);

        &--flipped {
            transform: rotateY(180deg);
        }
    }

    &__front,
    &__back {
        align-items: flex-start;
        position: absolute;
        backface-visibility: hidden;
        overflow: auto;
        @include mixins.block-size(100%, 100%, 10px);
    }

    &__front {
        background-color: variables.$color-primary;
        @include mixins.column-flexbox(space-between);
    }

    &__back {
        background-color: variables.$color-primary-dark;
        transform: rotateY(180deg);
        @include mixins.column-flexbox(flex-start);
    }

    &__top {
        background-color: variables.$color-primary-light;
        @include mixins.block-size(100%, 40%, 10px 10px 50% 50%);
        @include mixins.column-flexbox(flex-start);

        &--project {
            background: linear-gradient(
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 30%,
                rgba(0, 0, 0, 0.05) 100%
            );
            height: 100%;
            padding-bottom: 20px;
            @include mixins.column-flexbox(space-between);

            @media (max-width: variables.$breakpoint-medium) {
                padding-bottom: 10px;
            }
        }
    }

    &__button {
        align-self: flex-start;
        transition: all 0.3s;
        @include mixins.button-style(
            variables.$color-background,
            (10px 0),
            (10px 20px)
        );
        @include mixins.text-style(variables.$color-primary, 1.25rem, 400);

        @media (max-width: variables.$breakpoint-medium) {
            padding: 10px 15px;
        }

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1.125rem;
        }

        &:hover {
            border-radius: 0 0 10px 10px;
            margin-left: 10px;
        }

        &--back {
            color: variables.$color-primary-dark;
        }
    }

    &__icon {
        margin-left: 10px;

        @media (max-width: variables.$breakpoint-medium) {
            margin-left: 7.5px;
        }
    }

    &__photo {
        align-self: center;
        position: relative;
        top: 10px;
        background-color: variables.$color-primary;
        border-radius: 50%;
        padding: 10px;

        @media (max-width: variables.$breakpoint-small) {
            top: 0;
            transform: scale(90%);
        }
    }

    &__section {
        margin-top: 30px;

        @media (max-width: variables.$breakpoint-medium) {
            margin-top: 15px;
        }
    }

    &__title {
        margin-top: 30px;
        padding: 0 20px;
        @include mixins.text-style(variables.$color-background, 2.25rem, 500);

        @media (max-width: variables.$breakpoint-medium) {
            margin-top: 15px;
            padding: 0 15px;
        }

        @media (max-width: variables.$breakpoint-small) {
            font-size: 2rem;
        }

        &--project {
            padding: 0 20px;
            @include mixins.text-style(variables.$color-background, 3rem, 500);

            @media (max-width: variables.$breakpoint-medium) {
                padding: 0 15px;
            }

            @media (max-width: variables.$breakpoint-small) {
                font-size: 2.25rem;
            }
        }
    }

    &__subtitle {
        margin-top: 30px;
        padding: 0 20px;
        @include mixins.text-style(variables.$color-background, 1.5rem, 400);

        @media (max-width: variables.$breakpoint-medium) {
            padding: 0 15px;
        }

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1.25rem;
        }
    }

    &__text {
        text-align: justify;
        margin: 30px 20px;
        @include mixins.text-style(variables.$color-background, 1.125rem, 400);

        @media (max-width: variables.$breakpoint-medium) {
            margin: 30px 15px 15px 15px;
        }

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1rem;
            margin: 15px;
        }
    }
}
