@use "../../styles/_animations";
@use "../../styles/_mixins";
@use "../../styles/_variables";

.about {
    background-color: transparent;
    height: 594px;
    perspective: 1000px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));

    &__inner {
        position: relative;
        animation: rotateIn 0.4s ease-in;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        @include mixins.block-size(100%, 100%, 10px);

        &--flipped {
            transform: rotateY(180deg);
        }
    }

    &__front,
    &__back {
        align-items: flex-start;
        position: absolute;
        backface-visibility: hidden;
        @include mixins.block-size(100%, 100%, 10px);
    }

    &__front {
        background-color: variables.$color-primary;
        @include mixins.column-flexbox(space-between);
    }

    &__back {
        background-color: variables.$color-tertiary;
        transform: rotateY(180deg);
        @include mixins.column-flexbox(flex-start);
    }

    &__top {
        background-color: variables.$color-secondary;
        @include mixins.block-size(100%, 40%, 10px 10px 50% 50%);
        @include mixins.column-flexbox(flex-start);
    }

    &__button {
        align-self: flex-start;
        transition: all 0.3s;
        @include mixins.button-style(
            variables.$color-background,
            (10px 0),
            (10px 20px)
        );
        @include mixins.text-style(variables.$color-primary, 1.25rem, 400);

        &:hover {
            border-radius: 0 0 10px 10px;
            margin-left: 10px;
        }

        &--back {
            color: variables.$color-tertiary;
        }
    }

    &__icon {
        margin-left: 10px;
    }

    &__photo {
        align-self: center;
        position: relative;
        top: 10px;
        background-color: variables.$color-primary;
        border-radius: 50%;
        padding: 10px;
    }

    &__section {
        margin-top: 30px;
    }

    &__title {
        margin-top: 30px;
        padding: 0 20px;
        @include mixins.text-style(variables.$color-background, 2.25rem, 500);
    }

    &__subtitle {
        padding: 0 20px;
        @include mixins.text-style(variables.$color-background, 1.25rem, 400);
    }

    &__text {
        text-align: justify;
        margin: 30px 20px;
        @include mixins.text-style(variables.$color-background, 1.125rem, 400);
    }
}
