@use "../../styles/_animations";
@use "../../styles/_mixins";
@use "../../styles/_variables";

.card {
    animation: zoomIn 0.4s;
    @include mixins.card-style(5px);
    @include mixins.column-flexbox(space-between);

    &:hover {
        @include mixins.card-transition;
    }

    &__title {
        background-color: variables.$color-background;
        border-radius: 10px 10px 0 0;
        padding: 10px 15px;
        @include mixins.text-style(variables.$color-content, 2rem, 500);
    }

    &__subtitle {
        margin-top: 30px;
        padding: 0 15px;
        @include mixins.text-style(variables.$color-background, 1.125rem, 400);
    }
}
