@use "../../styles/animations";
@use "../../styles/mixins";
@use "../../styles/variables";

.preview {
    height: 594px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    cursor: pointer;
    animation: zoomIn 0.4s;
    @include mixins.card-style(0);

    @media (max-width: variables.$breakpoint-small) {
        height: 547px;
    }

    &--animated:hover {
        @include mixins.card-transition;
    }

    &__img {
        display: flex;
        object-fit: cover;
        object-position: left top;
        @include mixins.block-size(100%, 100%, 10px);
    }

    &__dialog {
        border: 0;
        border-radius: 10px;
        margin: auto;
        padding: 0;
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.4);
        animation: fadeIn 0.4s ease;

        &::backdrop {
            background: transparent;
        }

        &__close {
            animation: fadeOut 0.4s ease;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        transition: all 0.3s;
        @include mixins.button-style(
            variables.$color-secondary,
            0 10px,
            10px 20px
        );
        @include mixins.text-style(variables.$color-background, 1.25rem, 400);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1rem;
            padding: 10px 15px;
        }

        &:hover {
            right: 10px;
            border-radius: 0 0 10px 10px;
        }
    }

    &__model {
        display: flex;
        width: 100%;
    }
}
