@use "../../styles/animations";
@use "../../styles/mixins";
@use "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 0 30px 0;
    overflow: hidden;

    @media (max-width: variables.$breakpoint-medium) {
        margin: 30px 0;
    }

    @media (max-width: variables.$breakpoint-small) {
        align-items: center;
        gap: 20px;
        @include mixins.column-flexbox(flex-start);
    }

    &__title {
        animation: slideToRight 0.4s ease-out;

        @media (max-width: variables.$breakpoint-small) {
            animation: slideToBottom 0.4s ease-out;
        }
    }

    &__home {
        text-decoration: none;
        @include mixins.text-style(variables.$color-content, 4.5rem, 400);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 3rem;
        }
    }

    &__nav {
        margin-bottom: 1rem;
        animation: slideToLeft 0.6s ease-out;

        @media (max-width: variables.$breakpoint-small) {
            width: 100%;
            margin-bottom: 0;
            animation: slideToTop 0.6s ease-out;
        }
    }

    &__list {
        display: flex;
        gap: 100px;
        @include mixins.list-style;

        @media (max-width: variables.$breakpoint-medium) {
            gap: 90px;
        }

        @media (max-width: variables.$breakpoint-small) {
            justify-content: space-between;
            gap: 0;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        transition: all 0.3s;
        @include mixins.text-style(variables.$color-content, 1.25rem, 400);

        @media (max-width: variables.$breakpoint-small) {
            font-size: 1rem;
        }

        &:hover {
            transform: translateX(-10px);

            @media (max-width: variables.$breakpoint-small) {
                transform: translate(0, -5px);
            }
        }

        &--active {
            font-weight: 600;
            transform: translateX(-10px);

            @media (max-width: variables.$breakpoint-small) {
                transform: translate(0, -5px);
            }
        }
    }
}
