@use "../../styles/mixins";
@use "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 70px 0 50px 0;

    &__title {
        text-decoration: none;
        @include mixins.text-style(variables.$color-secondary, 6rem, 400);
    }

    &__list {
        display: flex;
        gap: 100px;
        margin-bottom: 1rem;
        @include mixins.list-style;
    }

    &__link {
        text-decoration: none;
        @include mixins.text-style(variables.$color-secondary, 1.5rem, 400);

        &:hover {
            text-decoration: underline;
        }
    }
}
