@use "../../styles/_animations";
@use "../../styles/_mixins";
@use "../../styles/_variables";

.skill {
    border-radius: 10px;
    padding: 5px;
    animation: zoomIn 0.4s;
    @include mixins.column-flexbox(space-between);

    &--link {
        height: calc(100% - 10px);
    }

    &__title {
        padding: 10px 15px 15px 15px;
        @include mixins.text-style(variables.$color-background, 2rem, 500);

        &--mern {
            @include mixins.text-style(variables.$color-content, 2rem, 500);
        }
    }

    &__tools {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        border-radius: 0 0 5px 5px;
        @include mixins.list-style;

        &--column {
            flex-direction: column;
        }
    }

    &__skills {
        height: 100%;
        @include mixins.column-flexbox(space-around);
        @include mixins.list-style;
        @include mixins.text-style(variables.$color-content, 1.125rem, 400);
    }

    &__skill {
        padding: 0 15px;
    }
}
