@use "../../styles/_animations";
@use "../../styles/_mixins";
@use "../../styles/_variables";

.skill {
    border-radius: 10px;
    padding: 5px;
    animation: zoomIn 0.4s;
    @include mixins.column-flexbox(space-between);

    &--link {
        height: calc(100% - 10px);
    }

    &__title {
        padding: 10px 15px 15px 15px;
        @include mixins.text-style(variables.$color-background, 2rem, 500);
    }

    &__tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;
        background-color: variables.$color-background;
        height: 100%;
        border-radius: 0 0 5px 5px;
        @include mixins.list-style;

        &--column {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__skills {
        gap: 20px;
        @include mixins.column-flexbox(flex-start);
        @include mixins.list-style;
        @include mixins.text-style(variables.$color-content, 1.125rem, 400);
    }
}
