@use "../../styles/_animations";
@use "../../styles/_mixins";
@use "../../styles/_variables";

.footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 50px 0;
    overflow: hidden;

    @media (max-width: variables.$breakpoint-medium) {
        margin: 30px 0;
    }

    @media (max-width: variables.$breakpoint-small) {
        justify-content: center;
    }

    &__text {
        animation: slideToLeft 0.4s ease-out;
        @include mixins.text-style(variables.$color-content, 0.75rem, 400);

        @media (max-width: variables.$breakpoint-small) {
            animation: slideToTop 0.4s ease-out;
        }
    }
}
