@use "../../styles/_mixins";
@use "../../styles/_variables";

.footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 50px 0;
    @include mixins.text-style(variables.$color-secondary, 0.75rem, 400);
}
